*.ilk
*.pdb
*.map
*.bsc
*.sdf
*.ipch
*.obj
*.sbr
*.pch
*.tlog
*.log
*.idb
*.opensdf
*.lastbuildstate
*.exe
*.dll
*.cache
*.exp
*.aps
*.iobj
*.lib
*.suo
*.user
*.suo
*.suo
*.res
*.ilk
.vs
/build
/.xmake
/.vscode
!/.vscode/c_cpp_properties.json
