<?xml version="1.0" encoding="utf-8"?>
<Window showshadow="true" shadowcorner="4,4,4,4" shadowsize="4" roundcorner="10,10">
  <Font id="1" name="微软雅黑" size="16" bold="false" />
  <Style name="menu-item">
    <Attr key="inline-padding" value="0,10,0,10"/>
    <Attr key="width" value="100"/>
  </Style>
  <!-- Menu样式 -->
  <Menu bkcolor="#FFFFFFFF" itemfont="1" itemalign="center">
    <MenuElement style="menu-item" name="test" text="测试ITME"/>
    <MenuElement style="menu-item" name="test1" text="测试ITME1"/>
    <MenuElement style="menu-item" name="test2" text="测试ITME2"/>
    <MenuElement style="menu-item" name="test3" text="测试ITME3"/>
    <MenuElement style="menu-item" name="test4" text="测试ITME4"/>
  </Menu>
</Window>
